<p id="notice" class="">

<div class="alert alert-success">
  <strong>Messages : </strong> <%= notice %>
</div>


</p>


<div class="page-header">
<h1>Statuses</h1>
  <p><%= link_to 'New Status', new_status_path %>
</div>

<% @statuses.each do |status| %>
<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= status.name %></strong>
    </div>
    <div class="panel-body status" >

      <%= status.content %>

      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> <span class="text-muted">posted <%= time_ago_in_words(status.created_at) %> ago</span> </span></li>
        <li>|</li>
        <span class="admin">
          <%= link_to 'Edit', edit_status_path(status) %>
          <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </ul>


    </div><!-- /panel-body -->

  </div><!-- /panel panel-default -->
</div>
<% end %>


<!--<table class="table table-striped">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>ID</th>-->
      <!--<th>Posted</th>-->
      <!--<th>Name</th>-->
      <!--<th>Content</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @statuses.each do |status| %>-->
      <!--<tr class="status">-->
        <!--<td><%= status.id %></td>-->
        <!--&lt;!&ndash;<td><%= status.created_at %></td>&ndash;&gt;-->
        <!--<td><%= time_ago_in_words(status.created_at) %></td>-->
        <!--<td><%= status.name %></td>-->
        <!--<td><%= status.content %></td>-->
        <!--<td><%= link_to 'Show', status %></td>-->

        <!--<td class="admin"><%= link_to 'Edit', edit_status_path(status) %></td>-->
        <!--<td class="admin"><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->



